
        <h1> <u>Contact Us</u>
    </h1>
    <p><center>
      <h3> <b><u>Address</b></u> 
      </br>
    </br>
    BeaverLogic
    </br>
    FF – 1,2, JBR Arcade,
    </br>
    Science City Road.
    </br>
    Ahmedabad, Gujarat
    </br>
    </br>
    <b><u>Website</b></u></br>
    <a href="http://www.beaverlogic.com">www.beaverlogic.com</a>
    </br></br><b><u>E-mail</b></u></br>
    sales@beaverlogic.com
    </h3>
    </center>
    </p>