<% if signed_in? %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %></section>
    <section>
      <%= render 'shared/micropost_form' %></section>
  </aside>
  <div class="span8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %></div>
</div>
<% else %>

<div class="jumbotron hero-unit">
<h3 class="center"><u>Welcome to the Sample Twitter Applicaiton</u></h3>
  </br>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    This is an online social networking and microblogging service that enables users to send and read short 140-character text messages, called "microposts". Registered users can read and post tweets, but unregistered users can only read them. Users access Microposts through the website interface.
  </p></br>
  <p class="center">
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %></p>
</div>

<% end %>