<footer class="footer">
  <small>
    <span class="copyright">
    &copy;2014 BeaverLogic. Powered by <a target="_blank" href="http://rpthegeek.github.io/">Rishi Pithadiya</a>
  </span>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>

    
  
  </nav>
</footer>